*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Oranienbaum';
    src: url(fonte/Oranienbaum.ttf);
}
body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Oranienbaum;
}


header.hero {
    background-color: #D96535;
    padding: 2em 0;
}


.hero__text {
    margin-top: 1em;
    font-size: 48px;
    color: #2B7A78;
    text-align: center;
}

.infos-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
}

.infos-bar__infos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infos-bar__infos__item {
    color: #333;
    margin-right: 20px;
    padding: 10px;
}


.event {
    background-color: #fff;
    margin: 2em 0;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event__details__title {
    color: #2B7A78;
    font-size: 32px;
}

.event__details__description {
    font-size: 24px;
}

.event__image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1em;
}


/* Ajustes para telas menores */
@media (max-width: 767px) {
    header.hero {
        flex-direction: column;
        text-align: center;
    }

    .infos-bar__infos {
        margin-top: 1em; 
    }

    .button--primary {
        margin-top: 1em;
    }
}

@media (max-width: 480px) {
    .event {
        padding: 1em; /* Reduz o espaçamento interno em telas muito pequenas */
    }
}